div.row
    div.col-lg-12
        include:md ../README.md
hr
div.row
    div.col-lg-6
        div.col-sm-12.well
            h3
                span.label.label-default Demo 1:
            ul.list-group#paginationList1
            div.pull-right
                ul.pagination(
                    data-role="pagination",
                    data-page="1",
                    data-ajax="true",
                    data-total="#{pageTotal}"
                    data-target="#paginationList1")
    div.col-lg-6
        div.col-sm-12.well
            h3
                span.label.label-default Demo 2:
            ul.list-group#paginationList2
            div.pull-right
                ul.pagination#pagination2
script(type="text/javascript").
    $(function () {
        $('#pagination2').pagination({
            page: '1',
            ajax: 'true',
            total: '#{pageTotal}',
        }, '#paginationList2');
    });