doctype html
html
    head
        include template/head
    body
        include template/nav
        section.container#content
            mixin panel(item)
                a.anchor(name="#{item.name}-section",id="#{item.name}-section")
                article.panel.panel-primary
                    header.panel-heading
                        div.panel-title
                            a(href="##{item.name}",data-toggle="collapse")
                                h4= item.name
                                    i.pull-right.glyphicon.glyphicon-plus
                    section.panel-collapse.panel-body.collapse(id=item.name)
                        // Jade不支持include动态参数
                        case item.name
                            when 'jquery-checkAll': include src/jquery-checkAll/demo/demo
                            when 'jquery-chkMerge': include src/jquery-chkMerge/demo/demo
                            when 'jquery-smartAt': include src/jquery-smartAt/demo/demo
                            when 'jquery-pagination': include src/jquery-pagination/demo/demo
                            when 'jquery-easyLoad': include  src/jquery-easyLoad/demo/demo
                            when 'jquery-easyForm': include src/jquery-easyForm/demo/demo
                            when 'jquery-autoRefresh': include src/jquery-autoRefresh/demo/demo
                            when 'jquery-smartTag': include src/jquery-smartTag/demo/demo
                            default: p.alert-danger No such plugin!
            div.row.well
                div.col-lg-12
                    include:md ../README.md
                    dl.dl-horizontal
                        each item in plugin
                            dt
                                a(href="##{item.name}-section")= item.name
                            dd
                                p= item.description
            div.row
                each item in plugin
                    +panel(item)
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-47217488-1', 'flybyte.cn');
                ga('send', 'pageview');
