doctype html
html
    head
        include template/head
    body
        include template/nav
        section.container#content
            mixin panel(item)
                article.panel.panel-primary
                    header.panel-heading
                        div.panel-title
                            a(href="##{item.name}",data-toggle="collapse")
                                h4= item.name
                                    i.pull-right.glyphicon.glyphicon-plus
                    section.panel-collapse.panel-body.collapse(id=item.name)
                        // Jade不支持include动态参数
                        case item.name
                            when 'jquery-checkAll': include src/jquery-checkAll/demo/demo
                            when 'jquery-chkMerge': include src/jquery-chkMerge/demo/demo
                            when 'jquery-smartAt': include src/jquery-smartAt/demo/demo
                            when 'jquery-pagination': include src/jquery-pagination/demo/demo
                            when 'jquery-easyForm': include src/jquery-easyForm/demo/demo
                            when 'jquery-autoRefresh': include src/jquery-autoRefresh/demo/demo
                            when 'jquery-smartTag': include src/jquery-smartTag/demo/demo
                            default: p.alert-danger No such plugin!
            div.row.well
                div.col-lg-12
                    include:md ../README.md
                    dl.dl-horizontal
                        each item in plugin
                            dt
                                a(href="#{url}##{item.name}")= item.name
                            dd
                                p= item.description
            div.row
                each item in plugin
                    +panel(item)